.title-profile-list {
  margin-top: 12px;
  margin-bottom: auto;
  color: #CE0505;
  font-size: 2.2em;
  font-weight: bold
}

.notfoundpost {
  margin-top: 50px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .notfoundpost-h1 {
    font-size: 2em;
  }
}