.input-title {
  font-size: 2em;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #CE0505 !important;
  text-shadow: 1px 1px gainsboro;
}

.style-input {
  border: 2px solid gray;
  font-size: 2em;
  border-radius: 15px;
  
}