.navbar {
  background-color: white;
}

.card-img {
  width: 120px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 15px;
  /* border-radius: 50%; */
  cursor: pointer;
}


.card-profile {
  transform: translateY(-10%);
  width: 80px;
  margin-right: 30px;
  margin-left: 30px;
  /* border-radius: 50%; */
}

.profile {
  display: flex;
  flex-direction: row;
  border: 2px solid #CE0505;
  border-radius: 30px
}

.text-profile {
  margin-left: -25px
}

.title {
  font-size: 2.5em;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #CE0505 !important;
  text-shadow: 2px 2px gainsboro;
  border-bottom: 2px solid #CE0505;
  box-shadow: 0 2px 0 orangered;
}

.clickNavLink {
  color: #007bff !important;
}

a:hover {
    text-decoration: none;
}

.slider {
  position: absolute;
  display:block;
  left: 0;
  top:90%;
  margin:0 auto;
  height: 2px;
  background-color: #007bff;
  width: 0%;
  transition: width 0.4s ease;
}
.nombore{
  position:relative;
  vertical-align: middle !important;
  margin-right: 10px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  display:inline-block;
  color: #CE0505 ;
  transition: all 0.4s ease-out;
}
.nombore:hover .slider {
  width: 100%;
}

.block {
  display: inline-block !important;
  white-space: nowrap;
}

.nombore:hover {
  color: #007bff 
}



/* 
 TODO Responsive
*/

@media only screen and (max-width: 768px) {
  .card-img {
    width: 100px;
    margin-right: 15px;
    margin-left: 5px
  }
  .title {
    font-size: 1.6em;
  }
  .nombore{
    top: 50%;
    transform: translateY(50%);
    position:relative;
  }
  .card-profile {
    top: 50%;
    transform: translateY(10%);
    position:relative;
  }
  .profile {
    align-items: center;
    border: transparent;
  }
  .text-profile {
    margin-left: auto;
  }
}

/*
TODO Effect
*/


