.parent-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  margin-bottom: auto;
  color: #CE0505;
  font-size: 2.5em;
  font-weight: bold
}
.img-profile {
  width: 30%;
  margin-bottom: 50px;
}


@media only screen and (max-width: 600px) {
  .parent-div {
    font-size: 1.5em;
  }
}