.top {
  margin-top: 30px !important;
  box-shadow: 0px 0px 0px grey;
  -webkit-transition:  box-shadow .3s ease-out;
     box-shadow: .8px .9px 3px grey;
}

.top:hover{ 
  box-shadow: 1px 8px 20px grey;
 -webkit-transition:  box-shadow .3s ease-in;
}

.img-logo-list {
  width: 60px;
}

.profile-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-profile-list {
  margin-top: 12px;
  margin-bottom: auto;
  color: #CE0505;
  font-size: 1.5em;
  font-weight: bold
}
.text-muted {
  margin-bottom: -15px;
}

.post-detail-text {
  padding: 10px 10px 10px 10px;
  font-size: 1.6em;
}
.button-action {
  float: right;
  margin-right: 5px;
  border-radius: 20px;
  font-weight: bold
}