.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.input-create {
  margin-top: 50px
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.margin-top {
  margin-top: 50px !important
}

.hight {
  margin-top: 190px !important;
  margin-bottom: 60px !important
}
